
body {
    background-color:#f2ebe3;
}

h1 {
    font-family: 'Fraunces', serif;
}
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    color: #6c7289;
}


.container {
    background-color: white;
    margin: 25px 5px;
    padding-bottom: 35px;
    border-radius: 8px;

}

.bottle {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.details {
    padding-left: 20px;
    padding-right: 20px;
}

.perfume {
    letter-spacing: 5px;
    font-size: 0.75rem;
}

.description {
   line-height: 2;
}

.reduced-price {
    display: inline-block;
    position: relative;
    font-size: 2rem;
    font-family: 'Fraunces', serif;
    color: #3D8268;
}
.price {
    display: inline-block;
    position: relative;
    text-decoration: line-through;
    left: 20px;
    bottom: 5px;
}

.Cart {
    padding-right: 0;
    padding-left: 0;
    margin: auto 10px;
    position: relative;
    right: 10px;
    left: 10px;
    top: 3px;
}

.add {
    margin: 0 5px;
    padding: 0 5px;
   
}
.btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    color: #ffffff;
    background: #3D8268;
    padding: 15px 80px 15px 80px;
    margin: 0; 
    position: relative;
    text-decoration: none;
    text-align: center;
    align-items: center;
  }


/* @media (max-width: 500px) {
    .container {
        display: inline-block;
    }
} */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }